h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.5px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.3px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.2px;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.2px;
}

.body-text {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0px;
}

.caption-text {
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0px;
}

.btn-primary,
.btn-secondary,
.nav-default {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0.5px;
}


